body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}

root {
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/**---------------heder-------------**/

.header {
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}

.header-navigation {
}

.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  width: 115px;
  height: 24px;
  left: 156px;
  top: 24px;
}

.web {
  color: #4d5ae5;
}

.studio {
  color: #2e2f42;
}

.header-list {
  position: absolute;
  width: 261px;
  height: 24px;
  left: 347px;
  top: 24px;
}

.header-link-studio {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-link-portfolio {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-item {
}

.header-link {
}

.header-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  position: absolute;
  width: 153px;
  height: 24px;
  left: 940px;
  top: 24px;
}

.header-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  position: absolute;
  width: 151px;
  height: 24px;
  left: 1133px;
  top: 24px;
}
/**-------------------main-----------------**/
/*--------------------Section______________*/

.hero {
}

.hero-title {
  font-style: normal;
  font-weight: 700;

  color: #ffffff;
}

.hero-button {
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
